In [1]:
import pandas as pd

In [4]:
df=pd.read_csv("D:\\FootballAnalytics\\ISL_league_stage.csv")

In [5]:
df.head()

,team,goals,xG,goals_conceded,xGA,shots,shots_against,xPoints,xG_first_half,xGA_first_half,xG_second_half,xGA_second_half,xG_Open_Play,xGA_Open_Play,xG_Set_Play,xGA_Set_Play,xGOT,xGOTA,xG_per_shot,xGA_per_shot
0,ATK Mohun Bagan FC,37,32.22,26,22.84,282,275,33.0,13.37,11.01,18.86,11.82,15.32,12.46,4.79,5.79,25.97,22.77,0.114,0.083
1,Bengaluru FC,32,26.84,27,19.97,214,207,31.8,13.58,10.48,13.31,9.49,10.37,11.30,8.72,4.09,26.32,21.97,0.125,0.096
2,Chennaiyin FC,17,22.03,35,33.32,211,283,23.9,10.87,19.36,11.18,13.99,13.88,14.72,5.56,11.05,16.70,32.11,0.104,0.118
3,FC Goa,29,29.37,35,23.97,248,200,27.7,15.81,10.84,13.55,13.16,13.42,9.05,6.60,4.56,27.65,25.14,0.118,0.120
4,Hyderabad FC,43,29.25,23,22.62,237,210,27.4,14.08,10.14,15.14,12.50,12.01,11.08,8.65,4.98,33.22,21.21,0.123,0.108

In [9]:
df['pyth']=df['goals']**1.22777/(df['goals_conceded']**1.072388+df['goals']**1.072388)* 2.499973 * 20

In [10]:
df.head()

,team,goals,xG,goals_conceded,xGA,shots,shots_against,xPoints,xG_first_half,xGA_first_half,...,xGA_second_half,xG_Open_Play,xGA_Open_Play,xG_Set_Play,xGA_Set_Play,xGOT,xGOTA,xG_per_shot,xGA_per_shot,pyth
0,ATK Mohun Bagan FC,37,32.22,26,22.84,282,275,33.0,13.37,11.01,...,11.82,15.32,12.46,4.79,5.79,25.97,22.77,0.114,0.083,52.004406
1,Bengaluru FC,32,26.84,27,19.97,214,207,31.8,13.58,10.48,...,9.49,10.37,11.30,8.72,4.09,26.32,21.97,0.125,0.096,46.727510
2,Chennaiyin FC,17,22.03,35,33.32,211,283,23.9,10.87,19.36,...,13.99,13.88,14.72,5.56,11.05,16.70,32.11,0.104,0.118,24.501370
3,FC Goa,29,29.37,35,23.97,248,200,27.7,15.81,10.84,...,13.16,13.42,9.05,6.60,4.56,27.65,25.14,0.118,0.120,37.946403
4,Hyderabad FC,43,29.25,23,22.62,237,210,27.4,14.08,10.14,...,12.50,12.01,11.08,8.65,4.98,33.22,21.21,0.123,0.108,59.354782

In [11]:
df

,team,goals,xG,goals_conceded,xGA,shots,shots_against,xPoints,xG_first_half,xGA_first_half,...,xGA_second_half,xG_Open_Play,xGA_Open_Play,xG_Set_Play,xGA_Set_Play,xGOT,xGOTA,xG_per_shot,xGA_per_shot,pyth
0,ATK Mohun Bagan FC,37,32.22,26,22.84,282,275,33.0,13.37,11.01,...,11.82,15.32,12.46,4.79,5.79,25.97,22.77,0.114,0.083,52.004406
1,Bengaluru FC,32,26.84,27,19.97,214,207,31.8,13.58,10.48,...,9.49,10.37,11.30,8.72,4.09,26.32,21.97,0.125,0.096,46.727510
2,Chennaiyin FC,17,22.03,35,33.32,211,283,23.9,10.87,19.36,...,13.99,13.88,14.72,5.56,11.05,16.70,32.11,0.104,0.118,24.501370
3,FC Goa,29,29.37,35,23.97,248,200,27.7,15.81,10.84,...,13.16,13.42,9.05,6.60,4.56,27.65,25.14,0.118,0.120,37.946403
4,Hyderabad FC,43,29.25,23,22.62,237,210,27.4,14.08,10.14,...,12.50,12.01,11.08,8.65,4.98,33.22,21.21,0.123,0.108,59.354782
5,Jamshedpur,42,29.16,21,18.35,274,181,36.9,14.37,6.53,...,11.83,13.17,8.94,7.63,5.82,31.49,17.18,0.106,0.101,60.567637
6,Kerala Blasters FC,34,25.17,24,23.26,224,208,27.5,11.74,8.93,...,14.33,11.98,11.81,5.80,6.51,24.78,20.26,0.112,0.112,51.224541
7,Mumbai City FC,36,28.21,31,26.29,245,235,25.4,13.58,12.89,...,13.37,13.32,14.24,7.13,5.30,31.55,27.64,0.115,0.112,47.117598
8,Northeast United FC,25,25.39,43,40.96,250,290,17.3,11.03,19.42,...,21.54,14.97,18.53,7.44,9.85,22.99,37.92,0.102,0.141,29.563261
9,Odisha FC,31,26.01,43,30.38,219,275,21.4,10.38,12.70,...,17.68,15.93,15.20,3.51,7.45,27.30,30.70,0.119,0.110,35.222401
10,SC East Bengal,18,17.10,36,28.79,227,267,21.7,6.70,13.21,...,15.57,9.65,16.69,5.08,5.51,14.94,26.01,0.075,0.108,25.248914